body {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}
info-box {
  float: right;
}
main {
  margin: 10px;
  border: 2px solid black;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - 150px);
}
main .desc{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
main .desc *{
  margin: 10px;
  background-color: var(--faded-sidebar-colour);
  padding: 10px;
  font-size: 125%;
}
main .desc h1{
  font-size: 175%;
}
main .desc i,main .desc b, main .desc a{
  font-size: inherit;
  padding: 0;
  margin: 0;
  display: inline;
}
main .desc img{
  align-self: center;
  height: auto;
  width: 60%;
}